/* @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;400;700&display=swap'); */

*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}
body {
    height:1300px;
}
h1{
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}
.header {
    width: 100%;
    height: 92px;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    /* background: #111; */
    background: #fff;
}

.nav li {    
    display: inline-block;    
    height: 92px;
    list-style: none;
  }
.nav li a {
    display: block;
    /* color: #FFF; */
    color: #111;
    /* line-height: 6.4rem; */
    line-height: 92px;
    text-decoration: none;
    text-transform: lowercase;
  }
.navItems{
    margin-left:  2vw;
}
.row{
    max-width: 1040px;
    height: 92px;
    margin: 0 auto;
}
.logo{
    height: 92px;
    width: 62px;
    background: url(../images/logo.jpg) 0px 8px no-repeat;
    background-size: contain;
    display: block;
    float: left;
}
.nav{
    display: block;
    position: static;
    
    float: right;
    text-align: center;    
}
.navItems a:hover{
    color: #757575;
    transition: ease .3s;
}
.socials{    
    margin-left: 60px;
}
.socials li {
    margin-left: 25px;       
}
.socials li a:hover{
    color: #636466;
    transition: ease .3s;
}
.content {
    height: 602px;
    width: 100%;
    background: url(../images/coderBGSmall.jpg);
    background-size: contain;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
/*tecnologias*/
td {
    padding-top:30px;
    padding-right:60px;
}
.langlogo{
    max-width: 96px;
    height: auto;
    object-fit: cover;
}
.contenttec{
    position: relative;
    top:10vh;
}
.center {
    padding: 0 150px;
}