@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;400;700&display=swap');

*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body,html {
    height: auto;
    font-family: 'Be Vietnam', sans-serif;
}
h1{    
    font-weight: 400;
    font-size: 2.5rem;
}

/* menu superior */
.header {
    width: 100%;
    height: 92px;    
    font-weight: 400;
    background: #fff;
}
.menu-toggle {
    display:none;
}
.rowmenu{
    max-width: 1024px;
    height: 92px;
    margin: 0 auto;
}
.nav li {    
    display: inline-block;    
    height: 92px;
    list-style: none;
  }
.nav li a {
    display: block;
    font-size: 1.6rem;
    color: #111;
    line-height: 9.2rem;
    text-decoration: none;
    text-transform: lowercase;
  }
.navItems{
    margin-left:  2vw;
}
.logo{
    height: 92px;
    width: 90px;
    background: url(../images/logo.png) -8px 12px no-repeat;
    background-size: cover;
    display: block;
    float: left;
}
.nav{
    display: block;
    position: static;
    
    float: right;
    text-align: center;    
}
.navItems a:hover{
    color: #757575;
    transition: ease .3s;
}
.socials{    
    margin-left: 60px;
}
.socials li {
    margin-left: 25px;       
}
.socials li a:hover{
    color: #636466;
    transition: ease .3s;
}

/* home */
.bkg{
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 602px;
    width: 100%;
    background: url(../images/coderBGSmall.jpg);
    /* background-color: #000; */
    background-size: contain;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
#particles-js {
    width: 100%;
    height: 100%;
}
.textcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    max-width: 25%;
}
.line1, .line2{
    color: #fff;
}
.line1{
    font-size: 6.5rem;
    margin-top: 250px;
    text-shadow: #000 1px 1px 1px;
}
.line2{
    font-size: 2.5em;
    font-weight: 100;
}
.photo{
    height: 100%;
    width: 25%;
    background: url(../images/placeHolder.png) -80px 0 no-repeat;
    background-size: cover;
}
.containerwworks{
    height: auto;
    min-height: 520px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.worktitle{
    font-weight: 100;
}
.workrow{
    width: 90%;
    max-width: 1080px;
    margin: 30px auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 20px;
}
.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #dddd;
    height:255px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}
.work:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.workimg{
    width: 95%;
    height : 66%;
    margin-top: 7px;
    border-radius: 3px;
    border: 1px solid #dddd;
}
.workdesc{
    width: 85%;
    height: 20%;
    margin-top: 10px;
}
.desc{
    font-size: 1.7rem;
    color: #444;
}
.cat{
    font-size:  1.4rem;
    font-weight: 100;
}

/* about */
.containerabout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.divright{
    min-width: 400px;
    height:100%;
    border: 1px solid black;
} 
.divleft{
    min-width: 600px;
    height:100%;
    border: 1px solid black;
}


/*technologies*/
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 81vh;
    margin: 0;    
}
.rowtec{
    max-width: 1024px;
}
.langtitle{
    text-align: center;
    font-weight: 300;
    /* font-size: 1.3em; */
}

td {
    padding: 30px 30px 0;
}
.langlogo{
    max-width: 112px;
    height: auto;
    object-fit: cover;
}

/* footer */
.footer{
    height: 96px;
    width: 100%;
    font-size: 1.6rem;
    background: #111;
}
.copyright{
    color: #fff;
    font-weight: 100;
    text-align: center;
    padding-top: 38px;
}


/*responsiviness*/
@media (max-width: 768px){
    html{
        font-size: 50%;
    }
    .textcard{
        max-width: 50%;
    }
    .photo {
        width: 50%;
    }
    nav{
        display: none;    
    }
    .menu-toggle{
        position: absolute;
        display: block;
        right: 0;
        margin-top: 27px;
    }
    .rowmenu .menu-toggle .one,.two,.three {
        height: 3px;
        margin: 5px auto;
        background-color: #111;
        transition-duration: 0.3s;
    }
    .rowmenu .menu-toggle {
        width: 40px;
        height: 30px;
        margin: 30px;
    }
    .rowmenu.on{
        position: absolute;
        background-color: #757575;        
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
    .rowmenu.on .menu-toggle{
        position: absolute;
        right: 0;
        margin: 30px;
    }
    .rowmenu.on nav {
        display: inline;
        color: #fff;
    }
    .rowmenu.on .menu-toggle .one{
        transform: rotate(45deg) translate(2px, 4px);
    }
    .rowmenu.on .menu-toggle .two{
        opacity: 0;
    }
    .rowmenu.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -10px);
    }
    .rowmenu.on .nav {
        position: absolute;
        text-align: center;
        margin: 0;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
    }
    .socials {
        margin: 60px 0 0;
        transform: translate(-5%, 0);
    }
    .rowmenu.on .nav li a {
        font-size: 3rem;
    }
}




