<div class="header">
    <div class="rowmenu">

        <div class="menu-toggle">
          <div class="one bar"></div>
          <div class="two bar"></div>
          <div class="three bar"></div>
        </div>

      <a class="logo" href="/"></a>
      <nav>
        <ul class="nav">
          <li class="navItems">
            <a href="/sobre">sobre</a>
          </li>
          <li class="navItems">
            <a href="">trabalhos</a>
          </li>
          <li class="navItems">
            <a href="/tecnologias">tecnologias</a>
          </li>
          <li class="navItems">
            <a href="">contato</a>
          </li>
          <li>
            <ul class="socials">
              <li>
                <a href="https://github.com/Cryslash">
                  <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/crystofher-lins-15aa69248">
                  <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                </a>
              </li>
              <!-- <li>
                <a href="">
                  <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                </a>
              </li> -->
              <li>
                <a href="https://www.instagram.com/crystofher_lins/">
                  <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

  </div>