<div class="header">
    <div class="rownav">
      <a class="logo" href="/"></a>
      <nav>
        <ul class="nav">
          <li class="navItems">
            <a href="">sobre</a>
          </li>
          <li class="navItems">
            <a href="">trabalhos</a>
          </li>
          <li class="navItems">
            <a href="/tecnologias">tecnologias</a>
          </li>
          <li class="navItems">
            <a href="">contato</a>
          </li>
          <li>
            <ul class="socials">
              <li>
                <a href="">
                  <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                </a>
              </li>
              <!-- <li>
                <a href="">
                  <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                </a>
              </li> -->
              <li>
                <a href="">
                  <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

  </div>