<%- include('includes/header'); %>
  <%- include('includes/nav'); %>

    <div class="bkg">
      <div id="particles-js">
        <!-- <div class="textcard">
          <p class="line1">Crystofher Lins</h1>
          <p class="line2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam autem repellat
            consequuntur voluptates.</h2>
        </div>
        <div class="photo"></div> -->
      </div>
    </div>

    <div class="containerwworks">
      <h1 class="worktitle">Alguns dos meus últimos trabalhos</h1>
      <div class="workrow">
        <div class="work">
          <div class="workimg" style="background: url(./assets/images/works/ecommerce.jpg) no-repeat;
             background-size: contain;"></div>
          <div class="workdesc">
            <p class="desc">e-commerce</p>
            <p class="cat">Desenvolvimento FullStack</p>
          </div>
        </div>

        <div class="work">
          <div class="workimg" style="background: url(./assets/images/works/sisos.jpg) no-repeat;
             background-size: cover;"></div>
          <div class="workdesc">
            <p class="desc">SisOS</p>
            <p class="cat">Aplicação Desktop</p>
          </div>
        </div>

        <div class="work">
          <div class="workimg"> </div>
          <div class="workdesc">
            <p class="desc">work 3</p>
            <p class="cat">work type</p>
          </div>
        </div>
      </div>
    </div>

    <%- include('includes/footer'); %>