<%- include('includes/header') -%>
<%- include('includes/nav') -%>

  <div class="content">
    <div class="rowtec">
        <h1 class="langtitle">Algumas das tecnologias que utilizo em meus projetos.</h1>
        <div class="lang">
            <table>
                <tr>                    
                    <td class="tableline"><img alt="HTML5" title="HTML5" src="./assets/images/icons/html.png" alt="" class="langlogo"></td>
                    <td class="tableline"><img alt="CSS" title="CSS" src="./assets/images/icons/css.png" alt="" class="langlogo"></td>
                    <td class="tableline"><img alt="JS" title="JS" src="./assets/images/icons/js.png" alt="" class="langlogo"></td>
                    <td class="tableline"><img alt="BootStrap" title="BootStrap" src="./assets/images/icons/bootstrap.png" alt="" class="langlogo"></td>
                    <td class="tableline"><img alt="Node" title="Node" src="./assets/images/icons/node.png" alt="" class="langlogo"></td>
                </tr>
                <tr>
                    <td class="tableline"><img alt="PHP" title="PHP" src="./assets/images/icons/php.png" alt="" class="langlogo"></td>
                    <td class="tableline"><img alt="CodeIgniter" title="CodeIgniter" src="./assets/images/icons/codeIgniter.png" alt="" class="langlogo"></td>
                    <td class="tableline"><img alt="Laravel" title="Laravel" src="./assets/images/icons/laravel.png" alt="" class="langlogo"></td>
                    <td class="tableline"><img alt="Rails" title="RubyOnRails" src="./assets/images/icons/rails.png" alt="" class="langlogo"></td>
                    <td class="tableline"><img alt="C#" title="C#" src="./assets/images/icons/cSharp.png" alt="" class="langlogo"></td>
                </tr>
                <tr>
                    <td class="tableline"><img alt="MongoDB" title="MongoDB" src="./assets/images/icons/mongo.png" alt="" class="langlogo"></td>
                    <td class="tableline"><img alt="MySQL" title="MySQL" src="./assets/images/icons/mySql.png" alt="" class="langlogo"></td>
                    <td class="tableline"><img alt="SQLServer" title="SQLServer" src="./assets/images/icons/sqlServer.png" alt="" class="langlogo"></td>
                    <td class="tableline"><img alt="Docker" title="Docker" src="./assets/images/icons/docker.png" alt="" class="langlogo"></td>
                    <td class="tableline"><img alt="Git" title="Git" src="./assets/images/icons/git.png" alt="" class="langlogo"></td>
                </tr>
            </table>
        </div>
    </div>
  </div>

  <%- include('includes/footer') -%>

